@charset "UTF-8";

#content_form {
    width: 400px;
    height: auto;
    margin: 20px auto;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#idConfirmResult, #pwChkResult, #emailConfirmResult {
    text-align: left;
    padding-left: 30px;
    color: #e74c3c;
    font-weight: bold;
}

#content_form table {
    border: 2px solid pink;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

#content_form table tr {
    height: 40px;
}

#content_form table tr:hover {
    background-color: white;
    cursor: pointer;
}

#content_form td, #content_form th {
    text-align: center;
    padding: 10px;
}

#content_form caption {
    font-size: 18px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

#content_form h2, #content_form b {
    text-align: center;
    color: #e74c3c;
}

#content_form a {
    text-decoration: none;
    color: #333;
}

#content_form .left {
    text-align: left;
}

#content_form .paging {
    text-align: center;
    margin-top: 20px;
}

#content_form input:not(.btn), #content_form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

#content_form .gender-input {
    align-items: center;
    justify-content: center; /* 가운데 정렬 */
    text-align: center;
}
#content_form .btn {
    background-color: #e74c3c; /* 배경색 변경 */
    color: #fff; /* 글자색 변경 */
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* 여백 조정 */
    font-size: 16px;
    cursor: pointer;
}
